{% extends '__base.html' %}
{% block content %}
<h1>
    Forum
    <span style="float:right;">
        <a href="{% url 'forum_create_topic' 1 %}">New Topic?</a>
    </span>
</h1>
    {% for category in categories %}
    <div class="forum_category">
        <h1><a href="{% url 'forum_list_topics' category.pk 1 %}">{{ category.title }}</a></h1>
        {{ category.body }}
        <br />
        {% if category.latest_post %}
            <em>Latest Post: </em> {{ category.latest_post.title }}
            by {{ category.latest_post.user }} at {{ category.latest_post.created_at|date:"D d F Y h:i" }}
        {% else %}
            <em>No posts...yet! Why not <a href="{% url 'forum_create_topic' category.pk %}">create</a> one?</em>
        {% endif %}
    </div>
    <br />
    {% endfor %}

{% endblock %}